body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
    border-radius: 15px;
}

.square:focus {
    outline: none;
}

.square:hover {
    background: steelblue;
    cursor: pointer;
    color: white;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.move {
    border-radius: 10px;
    outline: none;
    width: 200px;
    height: 40px;
    text-align: center;
    color: white;
    line-height: 40px;
    border: none;
    background-color: LightSeaGreen;
    font-size: 18px;
    margin-top: 5px;
}

.move:hover, .move:focus {
    font-weight: 600;
    background-color: SteelBlue;
}